<body class="image-bg-one">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-md-6 homeone mb-5 mt-5 text-one ">
                <h1 class="font-one display-2">Conheça a You-up</h1>
                <div class="col-sm-5 homeone mb5 mt-5 text-second">
                    <div class="row justify-content-start">
                        <h1 class="display-4 mb-5">Você no controle em qualquer lugar.</h1>
                        <a routerLink='/planos' class="justify-content-end more mb-5">saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>