<nav class="navbar navone">
    <div class="container">
        <a class="navbar-brand ml-1" href="#">
            <img src="../../assets/images/uuplogocutted.jpg" width="33" height="50" alt="">
        </a>
    </div>
</nav>

<nav class="navbar navbar-expand-lg secondnav shadow-sm rounded border-0">
    <div class="container">
        <a class="navbar-brand colorwhite" href="#">You up!</a>
        <button class="navbar-toggler btn-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">X</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item colorblack">
                    <a class="nav-link colorblack mr-5 ml-5" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link colorblack mr-5 ml-5" href="#">Planos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link colorblack mr-5 ml-5" href="#">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link colorblack mr-5 ml-5" href="#">Quem somos?</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle colorblack mr-5 ml-5" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>
                    <div class="dropdown-menu shadow-sm p-1 rounded border-0 w-90 ml-1"
                        aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">celular</a>
                        <a class="dropdown-item" href="#">token</a>
                    </div>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>