<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="font-one display-4 text-center mt-3">Contate-nos!</h1>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center ml-5">
        <div class="col-md-7 col-sm-12 mt-3 mb-3">
            <div class="map-responsive ml-5">
                <iframe class="ml-5 mb-5"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d914.291263905173!2d-46.65490017075389!3d-23.56251476975319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjPCsDMzJzQ1LjEiUyA0NsKwMzknMTUuNyJX!5e0!3m2!1spt-BR!2sbr!4v1587436784596!5m2!1spt-BR!2sbr"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
        <div class="col-md-5 sobrepor mt-1 mb-5 shadow border-0 rounded maps-div">
            <div class="row ">
                <div class="col-md-4 inner-text-side">
                    <div class="mt-5 white-text">
                        <h4 class="white-text">Onde estamos?
                        </h4>
                        Av. Paulista, 1337 - Bela Vista, São Paulo - SP, 01310-100
                    </div>
                </div>
                <div class="col-md-8 mt-5">
                    <div>
                        <h4 class="white-text">Entre em contato:
                        </h4>
                    </div>
                    <form class="mb-2 mr-3">
                        <div class="form-group white-text">
                            <label for="exampleInputEmail1">endereço de e-mail</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="email@exemplo.com">
                            <small id="emailHelp" class="form-text white-text">Não compartilharemos seu email
                                com
                                ninguém.</small>
                        </div>
                        <div class="form-group white-text">
                            <label for="exampleFormControlTextarea1">Mensagem:</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                placeholder="Digite sua mensagem..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-light">Enviar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>