<div class="container-fluid bgimage">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-sm-12 col-lg-12 text-center display-2 mt-5 mb-4">Nós somos a You up.</div>
        <div class="col-md-6 col-sm-12 text-center justify-content-center display-4 mb-5 p-5">Assim como
            você, éramos clientes
            de
            empresas
            convencionais, que não ofereciam inovação, flexibilidade e transparência.
            Somos novos, mas somos audaciosos. Nosso foco é transformar a internet móvel em uma experiência
            descomplicada e agradável.</div>
    </div>


</div>