<body class="bgimage">
    <div class="container">
        <div class="row">
            <div class="col-md12 mt-5 mb-4">
                <h1 class="display-4">Conheça nossos planos:</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 col-lg-4 mt-4 col-sm-12 mb-4">

                <div class="card border-0 shadow">
                    <img class="card-img-top" src="../../assets/images/adventire.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Adventurer</h5>
                        <p class="card-text">Cobertura internacional, ligações internacionais, pagamento em qualquer
                            moeda, desconto em hotéis e pousadas pelo mundo e mais.</p>
                        <a href="#" class="btn btn-primary">U$10/month ou R$50/mês</a>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-lg-4 mt-4 mb-4 col-sm-12">

                <div class="card border-0 shadow">
                    <img class="card-img-top" src="../../assets/images/girface.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Comercial</h5>
                        <p class="card-text">VPN gratuita, três números em um únco cadastro, cobertura internacional,
                            descontos em aplicativos de viagem, tecnologia 5G e mais.</p>
                        <a href="#" class="btn btn-primary">U$15/month ou R$80/mês</a>
                    </div>
                </div>


            </div>
            <div class="col-md-4 col-lg-4 mt-4 mb-5 col-sm-12">

                <div class="card border-0 shadow">
                    <img class="card-img-top" src="../../assets/images/kid.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Control</h5>
                        <p class="card-text">Rastreamento e controle dos websites e aplicativos usados pelo seu
                            filho(a), GPS e monitoramento em tempo real mesmo sem internet, resumo diário de uso e mais.
                        </p>
                        <a href="#" class="btn btn-primary">U$10/month ou R$50/mês</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>