.bgimage{
    background-image: url(../../assets/images/adventureset1.jpg);
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
}

.card{
    margin-right: 1%;
    width: 22rem;

}

.display-4{
    color:#ffffff;
    font-weight: bolder;
    text-shadow: 0.5px 0.5px 2px #00000081;
}

@media (max-width: 1321px){
    .card{
        width: 18rem;
    }
}
@media (max-width:1105px) {
    .card{
        width: 16rem;
    }
}
@media (max-width: 991px) {
    .card{
        width: auto;
    }
    .display-4{
        margin-left: 0.5em;
    }
}